* {
  --backgroundColor: #ffffff;
  --secondaryColor: #082f49;
  --positiveBtnColor: #15803d;
  --negativeBtnColor: #b91c1c;

  background-color: var(--backgroundColor);
  color: var(--secondaryColor);
  font-family: MyFont;
}

@font-face {
  font-family: "MyFont";
  src: url("Inter-Regular.ttf") format("openType");
  font-style: normal;
}

.App h1{
  display: flex;
  padding-top: 45px;
  justify-content: center;
}

.cvContainer {
  display: flex;
  justify-content: center;
  gap: 30px;
  height: 100vh;
}

/* Input */

.inputContainer,
.outputContainer {
  width: 620px;
  height: 877px;
  border: var(--secondaryColor) solid 1px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 0px 10px 0px 10px;
  border-radius: 3px;
}

.inputContainer {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.outputContainer {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.inputSubContainer form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.inputBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  resize: vertical;
  height: 100px;
  max-height: 175px;
}
.educationContainer,
.experienceContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* output */

.cvHeader {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.cvHeaderRight {
  padding-top: 42px;
}

.cvHeaderLeft h1 {
  border-bottom: solid var(--secondaryColor) 2px;
}

.workOutputCont {
  border-bottom: var(--secondaryColor) 2px solid;
}

/* buttons */

.btnContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  appearance: none;
  background-color: white;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  border: 2px solid;
  color: var(--backgroundColor);
  width: 20%;
}

.addBtn,
.updateBtn,
.saveBtn {
  border-color: var(--positiveBtnColor);
  color: var(--positiveBtnColor);
}

.addBtn:hover,
.updateBtn:hover,
.saveBtn:hover {
  background-color: var(--positiveBtnColor);
}

.deleteBtn {
  border-color: var(--negativeBtnColor);
  color: var(--negativeBtnColor);
}

.deleteBtn:hover {
  background-color: var(--negativeBtnColor);
}

button:hover {
  color: white;
  background-color: var(--backgroundColor);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
